<div class="block">
    <h4 class="title">
        <span class="pull-left"><span class="text">Фильтры</span></span>
    </h4>
    {% comment %} фильтры {% endcomment %}
    <form action="" name="filterform" method="POST" id="filter-form">
        {% csrf_token %}

        {% regroup props by prop__propName as props_list %}

        {% for prop in props_list %}
            <ul class="nav nav-list">
                <li class="nav-header">{{ prop.grouper }}</li>
                {% for item in prop.list %}
                    <li>
                        <label>
                            <input type="checkbox" name="filter-box"
                                   value="{{ item.propValue }}"
                                    {% for value in checked %}
                                        {% if item.propValue == value %}
                                   checked="checked"
                                        {% endif %}
                                    {% endfor %}
                                    > {{ item.propValue }}
                        </label>
                    </li>
                {% endfor %}
                <br/>
            </ul>
        {% endfor %}
        <button type="submit" name="submit-btn" class="btn btn-inverse">Показать</button>
        <button type="submit" name="reset" class="btn btn-inverse">Отменить фильтры</button>
    </form>
</div>