<div class="left-sidebar">
    <h2>Товары</h2>
    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
        <!-- <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Sportswear
                    </a>
                </h4>
            </div>
            <div id="sportswear" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="#">Nike </a></li>
                        <li><a href="#">Under Armour </a></li>
                        <li><a href="#">Adidas </a></li>
                        <li><a href="#">Puma</a></li>
                        <li><a href="#">ASICS </a></li>
                    </ul>
                </div>
            </div>
        </div> -->
        {% for category in categories %}
            {% if not category.parent %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            {% if category.children.count == 0 %}
                                <a href="{{ category.get_absolute_url }}">
                                    <span class="pull-right">({{ category.c_items.all.count }})</span>{{ category.name }}
                                </a>
                            {% else %}
                                <a data-toggle="collapse" data-parent="#accordian" href="#{{ category.id }}">
                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                    {{ category.name  }}
                                </a>
                            {% endif %}
                        </h4>
                    </div>
                    {% if category.children.count != 0 %}
                    <div id="{{ category.id }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    {% for category1 in category.children.all %}
                                        <li>
                                            <a href="{{ category1.get_absolute_url }}">
                                                <span class="pull-right">({{ category1.c_items.all.count }})</span>{{ category1.name }}
                                            </a>
                                        </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div><!--/category-products-->

    <div class="brands_products"><!--brands_products-->
        <h2>Бренды</h2>
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">
                {% for manuf in manufacturers %}
                    {% if manuf.m_items.all.count %}
                        <li>
                            <a href="{{ manuf.get_absolute_url }}"><span class="pull-right">({{ manuf.m_items.all.count }})</span>{{ manuf.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div><!--/brands_products-->
</div>
