{% extends 'base.html' %}
{% block styles %}
    <link href="{{ STATIC_URL }}themes/css/jquery.fancybox.css" rel="stylesheet"/>
{% endblock styles %}
{% load thumbnail %}
{% block content %}
    <section class="header_text sub">
        {% if item.category.image.category_banner.url != '' %}
            <img class="pageBanner" src="{{ item.category.image.category_banner.url }}" alt="{{ item.category.title }}">
        {% endif %}
        <h4><span>{{ item.title }}</span></h4>
    </section>
    <section class="main-content">
        <div class="row">
            <div class="span9">
                <div class="row">
                    <div class="span4">
                        <a href="{{ item.image.url }}" class="thumbnail" data-fancybox-group="group1"
                           title="{{ item.title }}"><img alt="" src="{{ item.image.detail_product.url }}"></a>
                        <ul class="thumbnails small">
                            {% for image in additional_images %}
                                <li class="span1">
                                    <a href="{{ image.image.url }}" class="thumbnail"
                                       data-fancybox-group="group1"
                                       title="{{ item.title }}"><img src="{{ image.image.addition_product.url }}"
                                                                     alt=""></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="span5">
                        <address>
                            <strong>Производитель:</strong> <span>{{ item.manufacturer }}</span><br>
                            <strong>Наличие:</strong> <span>
                        {% if item.inStore %}
                            Есть в наличии
                        {% else %}
                            Нету в наличии
                        {% endif %}
                    </span><br>
                            {% for prop in props %}
                                <strong>{{ prop.prop }}:</strong> <span>{{ prop.propValue }}</span><br>
                            {% endfor %}
                        </address>
                        <h4><strong>Цена: {{ item.price }} грн</strong></h4>
                    </div>
                    <div class="span5">
                        <form class="form-inline prod-q-form" action="" method="POST">
                            {% csrf_token %}
                            <p>&nbsp;</p>
                            {% comment %}<label>Количество:</label>{% endcomment %}
                            {% comment %}<input type="text" class="span1" value="1">{% endcomment %}
                            <div class="form-p-row">
                                {{ form.as_p }}
                                <button class="btn btn-inverse" type="submit">В корзину</button>
                            </div>
                        </form>
                        {% if success %}
                            <div class="alert alert-success" role="alert"><span>{{ success }}</span></div>
                        {% endif %}
                    </div>
                    <div class="span5">
                        <div class="yashare-auto-init" data-yashareL10n="ru"
                             data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir"
                             data-yashareTheme="counter"

                                ></div>
                    </div>
                </div>
                <div class="row">
                    <div class="span9">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#home">Описание</a></li>
                            <li class=""><a href="#profile">Additional Information</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home">
                                {{ item.item_description }}
                            </div>
                            <div class="tab-pane" id="profile">
                                <table class="table table-striped shop_attributes">
                                    <tbody>
                                    <tr class="">
                                        <th>Size</th>
                                        <td>Large, Medium, Small, X-Large</td>
                                    </tr>
                                    <tr class="alt">
                                        <th>Colour</th>
                                        <td>Orange, Yellow</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="span9">
                        <br>
                        <h4 class="title">
                            <span class="pull-left"><span class="text"><strong>похожие</strong> товары</span></span>
                            {% if items|length > 4 %}
                                <span class="pull-right">
										<a class="left button" href="#myCarousel-1" data-slide="prev"></a><a
                                        class="right button" href="#myCarousel-1" data-slide="next"></a>
									</span>
                            {% endif %}
                        </h4>

                        <div id="myCarousel-1" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="active item">
                                    <ul class="thumbnails listing-products">
                                        {% for it in items %}
                                            <li class="span3">
                                                <div class="product-box">
                                                    <span class="sale_tag"></span>

                                                    <p>
                                                        <a href="{{ it.get_absolute_url }}"><img
                                                                src="{{ it.image.product.url }}"
                                                                alt=""/></a>
                                                    </p>
                                                    <a href="{{ it.get_absolute_url }}" class="title">{{ it.title }}</a><br/>
                                                    <a href="{{ it.category.get_absolute_url }}"
                                                       class="category">{{ it.category.title }}</a>

                                                    <p class="price">{{ it.price }} грн</p>
                                                </div>
                                            </li>
                                            {% if forloop.counter|divisibleby:"3" and not forloop.last %}
                                                </ul>
                                                </div>
                                                <div class="item">
                                                <ul class="thumbnails listing-products">
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3 col">
                {% include 'shop/sidebar_blocks/random_item.html' %}
            </div>
    </section>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript" src="//yastatic.net/share/share.js"
            charset="utf-8"></script>
    <script>
        $(function () {
            $('#myTab a:first').tab('show');
            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            })
        })
        $(document).ready(function () {
            $('.thumbnail').fancybox({
                openEffect: 'none',
                closeEffect: 'none'
            });

            $('#myCarousel-2').carousel({
                interval: 2500
            });
        });
    </script>
{% endblock scripts %}