{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
    <section class="header_text sub">
        <img class="pageBanner" src="{{ STATIC_URL }}themes/images/search-pageBanner.png" alt="New products">
        <h4><span>Поиск</span></h4>
    </section>
    <section class="main-content">
        <p>Результаты поиска для запроса: <b>{{ words }}</b></p>
        {% if not error %}
            <div class="row">
                <div class="span9">
                    <ul id="products-container" class="thumbnails listing-products">
                        {% comment %} вывод товаров {% endcomment %}
                        {% for it in items %}
                            <li class="span3">
                                <div class="product-box">
                                    <span class="sale_tag"></span>
                                    <a href="{{ it.get_absolute_url }}"><img alt=""
                                                                             src="{{ it.image.product.url }}"></a><br/>
                                    <a href="{{ it.get_absolute_url }}" class="title">{{ it.title }}</a><br/>
                                    {% comment %}<a href="#" class="category">Phasellus consequat</a>{% endcomment %}

                                    <p class="price">{{ it.price }} грн</p>
                                </div>
                            </li>
                        {% empty %}
                            <li>Извинте, нет подходящих товаров</li>
                        {% endfor %}
                    </ul>
                    <hr>
                    {% comment %} пагинация {% endcomment %}
                    {% if items.paginator.num_pages > 1 %}
                        <div class="pagination pagination-small pagination-centered">
                            <ul>
                                {% if items.has_previous %}
                                    <li><a href="?page={{ items.previous_page_number }}">Предыдущая</a></li>
                                {% endif %}
                                {% for page in items.paginator.page_range %}
                                    {% if page == items.number %}
                                        <li class="active">
                                            {% else %}
                                        <li>
                                    {% endif %}

                                <a href="?page={{ page }}">{{ page }}</a>
                                </li>
                                {% endfor %}
                                {% if items.has_next %}
                                    <li><a href="?page={{ items.next_page_number }}">Следующая</a></li>
                                {% endif %}

                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="span3 col">
                    {% include 'shop/sidebar_blocks/random_item.html' %}
                </div>
            </section>
        {% else %}
            <p>Товары не найдены</p>
        {% endif %}
{% endblock content %}