<div class="block">
    <h4 class="title">
        <span class="pull-left"><span class="text">Фильтры</span></span>
    </h4>
    <ul class="nav nav-list">
        <li class="nav-header">Цена</li>
        <li><a href="?order=low">Сначала дешевые</a></li>
        <li><a href="?order=high">Сначала дорогие</a></li>
    </ul>
    {% comment %} фильтры {% endcomment %}
    <form action="" name="filterform" method="POST" id="filter-form">
        {% csrf_token %}
        <ul class="nav nav-list">
            <li class="nav-header">{{ manufacturers_filter.countries.label }}</li>
            {% for field in manufacturers_filter.countries %}
                <li>
                    <label>
                        {{ field.tag }}
                        {{ field.choice_label }}
                    </label>
                </li>
            {% endfor %}
        </ul>
        <ul class="nav nav-list">
            {% for field in properties_filter %}
                <li class="nav-header">{{ field.label }}</li>
                {{ field }}
            {% endfor %}
        </ul>
        <button type="submit" name="submit" value="submit" class="btn btn-inverse">Показать</button>
        <button type="submit" name="submit" value="reset" class="btn btn-inverse">Отменить фильтры</button>
    </form>
</div>