<div class="block">
    <h4 class="title">
        <span class="pull-left"><span class="text">Случайный товар</span></span>
								<span class="pull-right">
									<a class="left button" href="#myCarousel" data-slide="prev"></a><a
                                        class="right button" href="#myCarousel" data-slide="next"></a>
								</span>
    </h4>

    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            {% for rand_item in random_item %}
                {% if forloop.first %}
                    <div class="active item">
                {% else %}
                    <div class="item">
                {% endif %}

            <ul class="thumbnails listing-products">
                <li class="span3">
                    <div class="product-box">
                        <span class="sale_tag"></span>
                        <a href="{{ rand_item.get_absolute_url }}"
                           class="title"><img alt="" src="{{ rand_item.image.product.url }}"></a><br/>
                        <a href="{{ rand_item.get_absolute_url }}"
                           class="title">{{ rand_item.title }}</a><br/>
                        <a href="{{ rand_item.category.get_absolute_url }}"
                           class="category">{{ rand_item.category.title }}</a>

                        <p class="price">{{ rand_item.price }} грн</p>
                    </div>
                </li>
            </ul>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>