{% extends 'base.html' %}
{% block cart_count %}
    ({{ cart_item_count }})
{% endblock cart_count %}
{% load thumbnail %}

{% block content %}
    <section class="header_text sub">
        <img class="pageBanner" src="{{ STATIC_URL }}themes/images/pageBanner.png" alt="New products">
        <h4><span>Корзина</span></h4>
    </section>
    <section class="main-content">
        <div class="row">
            <div class="span9">
                <h4 class="title"><span class="text"><strong>Ваша</strong> корзина</span></h4>
                {% if cart_item_count > 0 %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Изображение</th>
                            <th>Название товара</th>
                            <th>Количество</th>
                            <th>Цена за один товар</th>
                            <th>Общая цена</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cart_items %}
                            <tr>

                                <td><a href="{{ item.get_absolute_url }}"><img alt=""
                                                                               src="{{ item.image.addition_product.url }}"></a>
                                </td>
                                <td>{{ item.title }}</td>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <td><input type="text" name="quantity" value="{{ item.quantity }}"
                                               class="input-mini"></td>
                                    <td>{{ item.price }} грн</td>
                                    <td>{{ item.total }} грн</td>
                                    <td>
                                        <input type="hidden" name="item_id" value="{{ item.id }}"/>
                                        <button class="glyphicon glyphicon-refresh" type="submit" name="submit"
                                                value="Update" title="Обновить товар"></button>
                                        <button class="glyphicon glyphicon-remove" type="submit" name="submit"
                                                value="Remove" title="Удалить товар из корзины"></button>
                                    </td>
                                </form>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td><strong>{{ cart_subtotal }} грн</strong></td>
                            <td>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <button class="btn" type="submit" name="submit"
                                            value="RemoveAll" title="Очистить корзину">Очистить
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <hr/>

                    <form action="" method="post">
                        {% csrf_token %}
                        <p class="buttons center">
                            <button class="btn btn-inverse" type="submit" id="checkout" name="submit"
                                    value="Checkout">Оформить заказ
                            </button>
                        </p>
                    </form>

                {% else %}
                    <h5>Корзина пуста</h5>
                {% endif %}
            </div>
            <div class="span3 col">
                {% include 'shop/sidebar_blocks/random_item.html' %}
            </div>
        </div>
    </section>
{% endblock content %}