{% extends 'base.html' %}
{% block cart_count %}
    ({{ cart_item_count }})
{% endblock cart_count %}
{% load thumbnail %}

{% block content %}
    <section class="header_text sub">
        <img class="pageBanner" src="{{ STATIC_URL }}themes/images/pageBanner.png" alt="New products">
        <h4><span>Оформление заказа</span></h4>
    </section>
    <section class="main-content">
        {% if message %}
            <h4>Спасибо за заказ.</h4>
            <h5>Менеджер свяжется с вами в ближайшее время.</h5>
        {% else %}
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row-fluid">
                    <div class="checkout-form" style="width: 400px; margin: 0 auto;">
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-inverse pull-right">Подтвердить заказ</button>
                    </div>
                </div>
                {% comment %}<div class="row-fluid">

                    <div class="span6">
                        <h4>Персональные данные</h4>
                        <label class="control-label">* {{ form.first_name.label }}</label>
                        {{ form.first_name.error }}
                        <div class="controls">
                            {{ form.first_name }}
                        </div>

{#                        <div class="control-group">#}
{#                            <label class="control-label"><span class="required">*</span>  {{ form.first_name.label }}</label>#}
{#                             {{ form.first_name.label_tag }}#}
{#                            <div class="controls">#}
{#                               {{ form.first_name.tag }}#}
{#                                 {{ form.first_name.errors.0 }}#}
{#                            </div>#}
{#                        </div>#}
                        <div class="control-group">
                            <label class="control-label">Фамилия</label>

                            <div class="controls">
                                <input type="text" name="last-name" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Email</label>

                            <div class="controls">
                                <input type="email" name="email" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span class="required">*</span> Телефон</label>

                            <div class="controls">
                                <input type="tel" name="phone" placeholder="" class="input-xlarge" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Удобное время для звонков</label>

                            <div class="controls">
                                <input type="tel" name="call-time" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <h4>Доставка</h4>

                        <div class="control-group">
                            <label class="control-label"><span class="required">*</span> Область:</label>

                            <div class="controls">
                                <select name="region" class="input-xlarge">
                                    <option value="">Киев</option>
                                    <option value="3513">Aberdeen</option>
                                    <option value="3514">Aberdeenshire</option>
                                    <option value="3515">Anglesey</option>
                                    <option value="3516">Angus</option>
                                    <option value="3517">Argyll and Bute</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span class="required">*</span> Город</label>

                            <div class="controls">
                                <input type="text" name="city" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Улица</label>

                            <div class="controls">
                                <input type="text" name="street" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Дом</label>

                            <div class="controls">
                                <input type="text" name="building" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Квартира</label>

                            <div class="controls">
                                <input type="text" name="flat" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Дополнительная информация</label>

                            <div class="controls">
                                <input type="text" name="additional_info"
                                       placeholder="№ подъезда, код на двери, этаж..." class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <h5>Способ доставки</h5>
                            <label class="radio">
                                <input type="radio" name="ship-method" value="Новая почта" checked>
                                Новая почта
                            </label>
                            <label class="radio">
                                <input type="radio" name="ship-method" value="Гюнсел">
                                Гюнсел
                            </label>
                            <label class="radio">
                                <input type="radio" name="ship-method" value="Автолюкс">
                                Автолюкс
                            </label>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Номер склада (адрес офиса)</label>

                            <div class="controls">
                                <input type="text" name="warehouse" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="textarea" class="control-label">Коментарий к заказу</label>

                            <div class="controls">
                                <textarea rows="3" name="comment" id="textarea" class="span12"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-inverse pull-right">Подтвердить заказ</button>
                    </div>
                </div>{% endcomment %}
            </form>
        {% endif %}
    </section>
{% endblock content %}
